<div class="details">
  <div class="image">
    <img src="{{details.image}}" alt="">
  </div>
  <div class="detail-info">
    <div class="title-info">
      <div class="name">
        <h3 class="title">{{details.name}}</h3>
        <h4 class="en-title">{{details.name_en}}</h4>
      </div>
      <h4 class="detail-rating">評分 : {{details.rating}}</h4>
    </div>
    <span class="category">分類 : {{details.category}}</span>
    <span class="location">地址 : {{details.location}}</span>
    <span class="phone">電話 : {{details.phone}}</span>
    <p class="description">介紹 : {{details.description}}</p>
    <div class="d-flex justify-content-between">
      <button class="detail-btn"><a href="/" class="title">回首頁</a></button>
      <button class="detail-btn"><a href="/edit/{{id}}" class="title">編輯</a></button>
      <form action="/delete/{{id}}" method="post" class="form-in-detail">
        <button type="button" class="detail-delete" data-bs-toggle="modal" data-bs-target="#delete-confirm">
          刪除
        </button>
        <div class="modal fade" id="delete-confirm" aria-labelledby="delete-confirm-Label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="delete-confirm-Label">提醒您注意</h5>
              </div>
              <div class="modal-body">
                請確認要刪除此餐廳資料...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">返回</button>
                <button type="submit" class="btn btn-danger">確認刪除</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>