<div class="details">
  <div class="image">
    <img src="{{details.image}}" alt="">
  </div>
  <div class="detail-info">
    <div class="title-info">
      <div class="name">
        <h3 class="title">{{details.name}}</h3>
        <h4 class="en-title">{{details.name_en}}</h4>
      </div>
      <h4 class="detail-rating">評分 : {{details.rating}}</h4>
    </div>
    <span class="category">分類 : {{details.category}}</span>
    <span class="location">地址 : {{details.location}}</span>
    <span class="phone">電話 : {{details.phone}}</span>
    <p class="description">介紹 : {{details.description}}</p>
    <div class="d-flex justify-content-between">
      <button class="detail-btn"><a href="/" class="title">回首頁</a></button>
      <button class="detail-btn"><a href="/edit/{{id}}" class="title">編輯</a></button>
    </div>
  </div>
</div>